/******************************************************************************/
/*   ____    _    ____    _                                                   */
/*  |  _ \  / \  / ___|  / \                                                  */
/*  | | | |/ _ \ \___ \ / _ \                                                 */
/*  | |_| / ___ \ ___) / ___ \                                                */
/*  |____/_/   \_\____/_/   \_\   Drupal Association South Africa             */
/*                                                                            */
/******************************************************************************/

/*----- Variables ------------------------------------------------------------*/

  $logo_x1:  "../images/logo/logo-x1.png"; // Should be 640px wide by design.
  $logo_x2:  "../images/logo/logo-x2.png";

  $logo_w:   640px;
  $logo_h:   180px;

/*----- Variables (Derived) --------------------------------------------------*/

  $logo_r:   $logo_w / $logo_h;

/*----- Styles ---------------------------------------------------------------*/

  .page-header {
    margin: 0;
  }

  h1#site-title {
    max-width: $logo_w; margin: 0; padding: 0; border: none;
    a {
      @include text-hide;
      @include img-retina($logo_x1, $logo_x2, 640, 1280);
      display: block; width: 100%; height: 0;
      padding-top: percentage(1 / $logo_r);
      background-size: 100% 100% !important;
    }
  }

/*----- Imports --------------------------------------------------------------*/

  @import "mailing_list";
  @import "navbar";

/******************************************************************************/
