################################################################################
#        ______                                                                #
#       //   ) )                                                               #
#      //___/ /            __    __  ___  __      ___       __     ( )         #
#     / __  (   //   / / //  ) )  / /   //  ) ) //   ) ) //   ) ) / / \\ / /   #
#    //    ) ) //   / / //       / /   //      //   / / //   / / / /   \/ /    #
#   //____/ / ((___( ( //       / /   //      ((___/ / //   / / / /    / /\    #
#                                                                              #
################################################################################

##### Always Ignore ############################################################

*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

##### OS Generated #############################################################

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

##### Archives and Packages ####################################################

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

##### Project ##################################################################

app/_bower_components
deploy
node_modules
serve
.sass-cache
.tmp

################################################################################
