<nav class="menu">
          <ul>
            <li><a href="{{ site.baseurl }}/" title="Home Page - {{ site.name }}">Home</a></li>
            <li><a href="{{ site.baseurl }}/resources.html" title="Resources - {{ site.name }}">Resources</a></li>
            <li><a href="{{ site.baseurl }}/membership.html" title="Membership - {{ site.name }}">Membership</a></li>
            <li><a href="{{ site.baseurl }}/contact-us.html" title="Contact the {{ site.name }}">Contact Us</a></li>
          </ul>
        </nav>
