<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.title == 'Home Page' %}
        {{ site.long }}
      {% else %}
        {{ page.title }} - {{ site.long }}
      {% endif %}
    </title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

    <!-- Replace with a custom modernizer build for production -->
    <!-- <script src="{{ site.baseurl }}/_bower_components/modernizr/modernizr.js"></script> -->
    <!-- endbuild -->

  </head>
  <body id="{{ page.title | downcase | replace:' ', '-' }}">
    <!--[if lt IE 9]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser.
          Please <a href="http://browsehappy.com/">upgrade your browser</a>
          to improve your experience.
        </p>
    <![endif]-->

    <div id="page">

      <div id="header">
        <h1 id="site-name">
          <a href="{{ site.baseurl }}/" title="{{ site.long }} - Home Page">
            {{ site.name }}
          </a>
        </h1>

        {% include menu.html %}
      </div>

      <div id="main">
        {{ content }}
      </div>

    </div>

    <!-- {% include scripts.html %} -->
    <!-- {% include googleanalytics.html %} -->

  </body>
</html>
