---
title: 'Contact Us'
description: Contact DASA (Drupal Association South Africa).
---

<article class="{{ page.title | downcase | replace: ' ','-' }} columns">
  <h1 id="page-title">
    {{ page.title }} <span class="hide"> at {{ site.long }}</span>
  </h1>
</article>

<article class="general columns">
  <h1>General Contact</h1>
  <section class="column">
    <h2>{% include fragment-email.html %}</h2>
    <p>
      E-mail our Secretary at {% include fragment-email.html %} or use the links
      below which will lead to people's Drupal profile pages where you can use
      the contact form there to contact people directly.
    </p>
  </section>
</article>

<article class="governing-board columns">
  <h1>Governing Board</h1>
  {% for member in site.data.board %}
  {% capture display %}
    {% if member.link.size > 0 and member.link contains 'drupal.org' %}
      <a
        href="{{ member.link }}"
        title="{{ member.name }} on Drupal.org"
        rel="nofollow"
      >{{ member.name }}</a>
    {% else %}
      {{ member.name }}
    {% endif %}
  {% endcapture %}
  <section class="column">
    <h2>{{ display }}</h2>
  </section>
  {% endfor %}
</article>

<article class="governing-board columns">
  <h1>Portfolio Holders</h1>
  {% for member in site.data.portfolios %}
  {% capture display %}
    {% if member.link.size > 0 and member.link contains 'drupal.org' %}
      <a
        href="{{ member.link }}"
        title="{{ member.name }} on Drupal.org"
        rel="nofollow"
      >{{ member.name }}</a>
    {% else %}
      {{ member.name }}
    {% endif %}
  {% endcapture %}
  <section class="column">
    <h2>{{ display }}</h2>
    <p>{{ member.portfolio }}</p>
  </section>
  {% endfor %}
</article>
