---
title: 'Membership'
description: Membership and Donations for DASA (Drupal Association South Africa) and our Community.
---

<!-- Removed for DASA's end.
<article class="membership clearfix">
  <h1 id="page-title">
    {{ page.title }}
    <span class="hide"> and Donations for {{ site.long }}</span>
  </h1>
  {% for membership in site.data.memberships %}
    <div class="col-md-6">
      <section class="panel panel-default panel-{{ membership.type }}">
        <header class="panel-heading">
          <h2>{{ membership.title }}</h2>
        </header>
        <div class="panel-body">
          <p>{{ membership.cost }}</p>
          <div class="membership-badge-1">
            <img
              alt="{{ membership.desc }} Badge"
              src="images/membership/{{ membership.img1 }}"
            >
          </div>
          <div class="membership-badge-2">
            <img
              alt="{{ membership.desc }} Badge"
              src="images/membership/{{ membership.img2 }}"
            >
          </div>
        </div>
      </section>
    </div>
  {% endfor %}
</article>

<article class="become-a-member clearfix">
  <h1>Become a Member</h1>
  <section class="panel panel-default">
    <div class="panel-body">
      <p>
        Contact us at {% include_relative includes/fragment-email.html %} with the
        membership you are interested in.
      </p>
      <p><strong>We'll send you details for an EFT payment.</strong></p>
      <ul>
        <li>
          If the membership is for an individual, include a link to your profile on
          {% include_relative includes/fragment-do.html %}
        </li>
        <li>
          If the membership is for an organisation, include a link to the website.
        </li>
        <li>
          As a member you are welcome to present either of the two options for logo badges above. They are in SVG format, so simply copy them from the website here.
        </li>
      </ul>
    </div>
  </section>
</article>

{% for membership in site.data.members %}
  {% if membership.members.size > 0 %}
    <article class="members-{{ membership.type }} members clearfix">
      <h1>{{ membership.name }}</h1>
      {% for member in membership.members %}
      {% capture name %}
        {% if member.link.size > 0 and (member.link contains 'drupal.org' or membership.type == 'organisation') %}
          <a
            href="{{ member.link }}"
            title="{{ member.name }}{% if membership.type == 'individual' %} on Drupal.org{% else %} Website{% endif %}"
            rel="nofollow"
          >{{ member.name }}</a>
        {% else %}
          {{ member.name }}
        {% endif %}
      {% endcapture %}
      <div class="col-md-3">
        <section class="panel panel-default panel-{{ membership.type }}">
          <header class="panel-heading">
            <h2>{{ name }}</h2>
          </header>
          <div class="panel-body">
            <p>{{ member.from }} - {{ member.to }}</p>
          </div>
        </section>
      </div>
      {% endfor %}
    </article>
  {% endif %}
{% endfor %}
-->
