/******************************************************************************/
/* Header                                                                     */
/******************************************************************************/
  // Variables
    $logo_x1:  "../img/logo/logo-x1.png"; // Should be 640px wide by design.
    $logo_x2:  "../img/logo/logo-x2.png";
  // Variables (Derived)
    $logo_w:   image-width($logo_x1);
    $logo_h:   image-height($logo_x1);
    $logo_r:   $logo_w / $logo_h;
  // Styles
    #header { position: relative; }
    h1#site-name {
      margin: 0; padding: 0;
      a {
        display: block; width: $logo_w; height: $logo_h;
        @include hide-text();
        background: url($logo_x1) no-repeat;
        @include image-2x($logo_x2, $logo_w, $logo_h);
      }
    }
  // Responsive
    h1#site-name a {
      @include transition(width $td $tf, height $td $tf, margin $td $tf, padding $td $tf);
      @media #{$r1} {
        width: 100%; height: 0; padding-top: percentage(1 / $logo_r);
        @include background-size(100% 100%);
        margin: 0 auto;
      }
    }
/******************************************************************************/
