/******************************************************************************/
/* Header                                                                     */
/******************************************************************************/
  // Variables
    $logo_x1:  "../img/logo/logo-x1.png"; // Should be 640px wide by design.
    $logo_x2:  "../img/logo/logo-x2.png";
  // Variables (Derived)
    $logo_w:   image-width($logo_x1);
    $logo_h:   image-height($logo_x1);
    $logo_r:   $logo_w / $logo_h;
  // Styles
    h1#site-name {
      max-width: $logo_w; margin: 0; padding: 0;
      a {
        display: block; width: 100%; height: 0;
        @include replace-text($logo_x1);
        @include image-2x($logo_x2, $logo_w, $logo_h);
        padding-top: percentage(1 / $logo_r);
        @include background-size(100% 100%);
        background-size: 100% 100% !important;
      }
    }
/******************************************************************************/
  @import 'menu';
/******************************************************************************/
