/******************************************************************************/
/* Home Page: About DASA                                                      */
/******************************************************************************/
  body#home-page article.columns {

    h1#page-title { @include element-invisible; }

    @include breakpoint($sections_2) {
      section.community { @include span(3 of 6); }
      section.mission   { @include span(3 of 6); }
      section.vision    { @include span(6 of 6); }
    }

    @include breakpoint($sections_3) {
      section.community { @include span(3 of 12); }
      section.mission   { @include span(3 of 12); }
      section.vision    { @include span(6 of 12); }
    }

    @include breakpoint($sections_4) {
      section.community { @include span(3 of 12); }
      section.mission   { @include span(3 of 12); }
      section.vision    { @include span(6 of 12); }
    }

  }
/******************************************************************************/
/* Home Page: Drupal User Group Meet-ups                                      */
/******************************************************************************/
  body#home-page article.columns.meetups {
    section {
      height: auto;
      p {
        height: auto;
      }
      iframe {
        display: block;
        margin: 0 auto;
        background-color: #1a1a1a;
        @include border-radius(5px);
      }
    }
    @include breakpoint($sections_2) {
      section {
        height: 750px;
        p {
          height: 125px;
        }
      }
    }
  }
/******************************************************************************/
