/******************************************************************************/
/* Main                                                                       */
/******************************************************************************/
  // Variables
    $cTitleColour: $cBlack;
    $MainPadding:  20px;
  // Styles
    #main {
      padding-bottom: 20px;

      article.columns {

        &, &>header { @include clearfix; }

        h1 {
          color: $cTitleColour;
          text-align: center;
          border: 1px solid lighten($cGrey, 10%);
          border-left: none; border-right: none;
          margin: 0.8em auto 0.4em 0;
          @include font-size(1.8);
          line-height: 1.6em;
          @include span(3 of 3 last);
          @include breakpoint($sections_1) { @include span(3  of  3 last); }
          @include breakpoint($sections_2) { @include span(6  of  6 last); }
          @include breakpoint($sections_3) { @include span(9  of  9 last); }
          @include breakpoint($sections_4) { @include span(12 of 12 last); }
        }

        h1#page-title {
          border-top: none;
          text-align: left;
        }

        section {
          @include span(3 of 3 last);
          @include breakpoint($sections_1) {    @include span(3 of  3  last);    }
          @include breakpoint($sections_2) { @include gallery(3 of  6, of-type); }
          @include breakpoint($sections_3) { @include gallery(3 of  9, of-type); }
          @include breakpoint($sections_4) { @include gallery(3 of 12, of-type); }
        }

        section h2 {
          @include font-size(1.6);
          margin: 0.8em 0 0.4em 0;
        }

        section p {
          @include font-size(1.5);
          margin: 0.4em 0 0.4em 0.8em;
        }

      }

    }
/******************************************************************************/
  @import 'home';
  @import 'membership';
  @import 'contact';
/******************************************************************************/
