/******************************************************************************/
/* Main                                                                       */
/******************************************************************************/
  // Variables
    $cTitleColour: $cBlack;
    $MainPadding:  20px;
  // Styles
    #main {
      padding: $MainPadding; overflow: hidden;
      h1#page-title {
        color: $cTitleColour;
        line-height: 1.4em;
        margin: 0 $MainPadding 20px $MainPadding;
        border-bottom: 1px solid lighten($cGrey, 10%);
      }
    }
    body#home-page h1#page-title { display: none; }
    #main>article {
      margin-left:  -$MainPadding;
      margin-right: -$MainPadding;
    }
/******************************************************************************/
  @import 'home';
  @import 'resources';
  @import 'membership';
/******************************************************************************/
