/******************************************************************************/
/* Main                                                                       */
/******************************************************************************/
  // Grids
    #main {
      @include container;
      margin: 0 gutter() gutter() gutter();
      section,
      section.content-wide {
        @include span(12);
        @include breakpoint($bpw1) { @include    span(12); }
        @include breakpoint($bpw2) { @include gallery( 6, of-type); }
        @include breakpoint($bpw3) { @include gallery( 4, of-type); }
        @include breakpoint($bpw4) { @include gallery( 3, of-type); }
      }
      section.content-narrow {
        @include span(12);
        @include breakpoint($bpw1) { @include    span( 6); }
        @include breakpoint($bpw2) { @include gallery( 4, of-type); }
        @include breakpoint($bpw3) { @include gallery( 3, of-type); }
        @include breakpoint($bpw4) { @include gallery( 2, of-type); }
      }
    }
  // Styles
    #main { article, h1, section, h2 { @include clearfix; } }

    #main h1 {
      @include span(12);
      margin-top: 0.8em;
      margin-bottom: 0.4em;
      color: $cBlack;
      text-align: center;
      border: 1px solid lighten($cGrey, 10%);
      border-left: none; border-right: none;
      @include font-size(1.8);
      line-height: 1.6em;
      &#page-title {
        border-top: none;
        text-align: left;
      }
    }

    h2 { @include font-size(1.6); margin: 0.8em 0 0.4em 0;     }
    p  { @include font-size(1.5); margin: 0.4em 0 0.4em 0.8em; }
/******************************************************************************/
/* Home Page: About DASA                                                      */
/******************************************************************************/
  body#home-page #main { h1#page-title { @include element-invisible; } }

  #main {
      @include breakpoint($bpw2) {
      section.community { @include span(3 of 6); }
      section.mission   { @include span(3 of 6); }
      section.vision    { @include span(6 of 6); }
    }
    @include breakpoint($bpw3) {
      section.community { @include span(3 of 12); }
      section.mission   { @include span(3 of 12); }
      section.vision    { @include span(6 of 12); }
    }
  }
/******************************************************************************/
/* Home Page: MailChimp                                                       */
/******************************************************************************/
  body#home-page article.mailchimp {
    #mc_embed_signup {
      clear: both;
      text-align: center;
      * { display: inline-block; }
    }
    .mc-field-group {
      padding: 0 15px;
    }
    input#mce-EMAIL {
      margin: 5px 0 5px -3px;
      padding: 2px;
      width: 100%;
      border: 1px solid lighten($cGrey, 10%);
    }
    input#mc-embedded-subscribe {
      padding: 2px 5px;
      border: 1px solid darken($cGrey, 10%);
    }
    @include breakpoint($bpw2) {
      input#mce-EMAIL { width: 250px; margin-left: 15px; }
    }
  }
/******************************************************************************/
/* Home Page: Drupal User Group Meet-ups                                      */
/******************************************************************************/
  body#home-page article.meetups {
    iframe {
      display: block;
      margin: 0 auto;
      background-color: #1a1a1a;
      @include border-radius(5px);
    }
    @include breakpoint($bpw2) {
      section {
            height: 750px;
        p { height: 125px; }
      }
    }
  }
/******************************************************************************/
/* Membership                                                                 */
/******************************************************************************/
  // Variables
    $cGold:       #C98910;
    $cSilver:     #A5A5A5;
    $cBronze:     #965A38;
    $cIndividual: $cBlueDark;
    $cDiamond:    $cBlueLight;
    $cGraphite:   lighten(black, 50%);
  // Styles
    body#membership {
      article.memberships, article.members {
        section h2 { border-bottom: 2px solid white; }
        section.gold       h2 { border-color: $cGold;       }
        section.silver     h2 { border-color: $cSilver;     }
        section.bronze     h2 { border-color: $cBronze;     }
        section.individual h2 { border-color: $cIndividual; }
        section.diamond    h2 { border-color: $cDiamond;    }
        section.graphite   h2 { border-color: $cGraphite;   }
      }
    }
    #main article.become-a-member section {
      @include span(12);
    }
/******************************************************************************/
/* Contact Us                                                                 */
/******************************************************************************/
  body#contact-us article.general section {
    @include span(12);
  }
/******************************************************************************/
