/******************************************************************************/
/*   ____    _    ____    _                                                   */
/*  |  _ \  / \  / ___|  / \                                                  */
/*  | | | |/ _ \ \___ \ / _ \                                                 */
/*  | |_| / ___ \ ___) / ___ \                                                */
/*  |____/_/   \_\____/_/   \_\   Drupal Association South Africa             */
/*                                                                            */
/******************************************************************************/
/* Compass Defaults                                                           */
/******************************************************************************/
  $browser-minimum-versions:      ('ie': "9");
  $default-transition-duration:   0.5s;  $td: $default-transition-duration;
  $default-transition-function:   ease;  $tf: $default-transition-function;
/******************************************************************************/
/* Imports: Generic                                                           */
/******************************************************************************/
  @import "compass";
  @import "breakpoint";
  @import "susy";
  @import "h5bp/normalize";
  @import "h5bp/main";
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");
/******************************************************************************/
/* Colours (based on Logo)                                                    */
/******************************************************************************/
  $cBlack:                        #2D292A;
  $cGreen:                        #118D45;
  $cRed:                          #E51E26;
  $cYellow:                       #F3C016;
  $cBlueLight:                    #0878BE;
  $cBlueDark:                     #0D5B90;
  $cGrey:                         #BFBFC8;
/******************************************************************************/
/* Variables                                                                  */
/******************************************************************************/
  // General
    $paragraph_column_width:      25em;
    $page_max_width:              $paragraph_column_width * 4;
  // Susy Grid Defaults
    $susy: (
      columns:                    12,
      gutter-position:            split,
      //debug:                      (image: show-columns),
    );
  // Breakpoint Widths
    $bpw1:                        $paragraph_column_width * 1;
    $bpw2:                        $paragraph_column_width * 2;
    $bpw3:                        $paragraph_column_width * 3;
    $bpw4:                        $paragraph_column_width * 4;
/******************************************************************************/
/* Imports: Specific (Needs Variables Above)                                  */
/******************************************************************************/
  @import 'general/mixins';
/******************************************************************************/
/* General                                                                    */
/******************************************************************************/
  // Styles
    a {
      @include transition(color, $tf, $td);
      @include link-colour($cBlueLight, $cGreen);
      @include link-decoration();
    }
    .hide { @include element-invisible; }
/******************************************************************************/
/* Body / Page                                                                */
/******************************************************************************/
  // Styles
    body {
      background-color: darken($cBlack, 8%);
      color:            $cBlack;
      font-family:      'Open Sans', Verdana, Arial, sans-serif;
      @include font-size(1.5);
    }
    #page {
      max-width:      $page_max_width;
      margin:         0 auto;
      background:     white;
      border-top:     3px solid $cRed;
      border-bottom:  3px solid $cYellow;
    }
  // Transitions:
    body {
      @include breakpoint($bpw2) {          padding: 2em; }
      @include transition(padding $td $tf); padding: 0;
    }
/******************************************************************************/
/* Imports: Design                                                            */
/******************************************************************************/
  @import 'header/header';
  @import 'main/main';
/******************************************************************************/

